::selection{ background-color: #E13300; color: white; }
::moz-selection{ background-color: #E13300; color: white; }
::webkit-selection{ background-color: #E13300; color: white; }

body {
    background-color: #fff;
    margin: 40px;
    font: 13px/20px normal Helvetica, Arial, sans-serif;
    color: #4F5155;
}

a {
    color: #003399;
    background-color: transparent;
    font-weight: normal;
}

h1 {
    color: #444;
    background-color: transparent;
    border-bottom: 1px solid #D0D0D0;
    font-size: 19px;
    font-weight: normal;
    margin: 0 0 14px;
    padding: 14px 15px 10px 15px;
}

code {
    font-family: Consolas, Monaco, Courier New, Courier, monospace;
    font-size: 12px;
    background-color: #f9f9f9;
    border: 1px solid #D0D0D0;
    color: #002166;
    display: block;
    margin: 14px 0;
    padding: 12px 10px 12px 10px;
}

#header{
    padding: 5px 15px 0;
}

.footer{
    text-align: right;
    font-size: 11px;
    border-top: 1px solid #D0D0D0;
    line-height: 32px;
    padding: 0 10px;
} 

#wrapper{
    margin: 10px;
    padding: 0 15px;
    border: 1px solid #D0D0D0;
    -webkit-box-shadow: 0 0 8px #D0D0D0;
}
div.errors {
    border: 1px solid #f42025;
    margin: 4px 0pt;
    padding:1px;
    background:#fff1eb url(/images/exclamation.gif) no-repeat 5px 8px;
    color:#000;
    text-align:left;
    font-weight:bold;
}
div.success {
    border:1px solid #59d548;
    padding:2px;
    font-weight:bold;
    text-align:left;
    background: #c2f7bb url(/images/accept.gif) no-repeat 5px 8px;
    color:#000;
}

div#content {
    min-height: 300px;
}


#mainnav>ol>li {list-style: none; display:inline; }
#mainnav>ol>li>a {font-weight:bold; margin-right:15px; display: block; float:left; text-decoration:none; font-size: 14px;}

#mainnav>ol>li>ul>li>a {color:#000; display: block; text-decoration:none; font-size: 14px;}

.subdroplinks {border:1px solid #000;}

ul.sublinks, ul.subdroplinks{
display: none;
background: #ded1a6;
}

ul.sublinks a, ul.subdroplinks a{
display: block;
color: #000;
text-decoration: none;
padding: 5px 20px;
}

ul.sublinks a:hover, ul.subdroplinks a:hover{
background: #f6efd2;
}