*+html{overflow:auto;}

.row-2,
.button,
.button-1,
.button-2,
.button-3,
.content-box,
#constuction-box,
#intro-box{behavior:url(js/PIE.htc);}

.sf-menu > li.first {
	behavior:url(js/PIE.htc);
	border-radius:3px 0 0 0px;
}
.row-2 {
	border-radius:5px 4px 0 0;
}
.sf-menu > li {background:url(../images/bg-row-2.gif) 0 0 repeat-x #3b3b3b;}
.sf-menu > li:hover, .sf-menu > li.sfHover, .sf-menu > li.current {background: #fff;}

.button .bg-button, .button-1 .bg-button, .button-2 .bg-button, .button-3 .bg-button, .sf-menu span,  .hover .mask, .list-1 li a .mask-1 {display:none;}

.button {
	background:url(../images/bg-button.gif) 0 0 repeat-x #f4f4f4;
	border:1px solid #eeeeee;
	line-height:24px;
}
.button-1{background:url(../images/bg-button1.gif) 0 0 repeat-x #3b3b3b;}
.button-2{background:#36bef2;}
.button-3 {background:url(../images/bg-button3.gif) 0 0 repeat-x #3b3b3b;}

.text-2 {letter-spacing:-1px;}
.list-1 li a {background:url(../images/marker-1-ie.png) 0 1px no-repeat;}
.list-1 li a:hover {background-position:0 -49px;}

.hover .mask-ie{
	background:url(../images/img-marker.png) center center no-repeat #fff;
	cursor:pointer;
	bottom: 50%;
	left: 50%;
	right: 50%;
	top: 50%;
	opacity: 0;
	position: absolute;
	z-index:3;
	margin:4px;
}

input[type="text"],
input[type=password],
textarea,
.cs-buttons a{
	behavior:url(js/PIE.htc);
	position:relative;
}
.dropcap, .dropcap-1 {
	behavior:url(js/PIE.htc);
	position:relative;
	background-color:#3b3b3b;
}


#text_slider div{background:none !important}

#advanced ul li.trigger_adv > span,
dl#accordion dt{
	behavior:url(js/PIE.htc);
	position:relative;
}

div.caption{background:#fff;}
.kwicks li{filter:alpha(opacity=50)}
.kwicks li.active{filter:alpha(opacity=100)}

